<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>2050 Pathways Calculator</title>

   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  -->
    <!--
    <link rel="stylesheet" href='/assets/<%= assets['BootSideMenu.css']%>' media='screen' type='text/css' />
    -->
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>


  </head>

  <body>

    <!-- Other countries may want to delete this warning. It is hidden initially by css in src/stylesheets/body.css
      Code in the checkSVGWorks function in src/javascripts/controller.js checks if the user's web browser
      supports SVG and, if it doesn't, shows this div.  -->
    <div id='svgWarn'>
      This interface requires <a href='http://caniuse.com/#cats=SVG'>a browser that supports SVG.</a> it seems like your browser doesn't support SVG. We have an <a href='http://uk-old.2050.org.uk'>old version of this calculator</a> that may work for you. Alternatively you can download <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>an excel version.</a>
      <p>
        <a href='#' onclick="$('#svgWarn').hide()">Hide this message.</a>
      </p>
    </div>

    <div id='topbar' class="topbar">
          <div id='name'>
            <!-- Change this to link to your country website -->
            <a href=''>The UK 2050 Calculator</a>
          </div>

          <!-- To add or remove views from the web tool, alter the following section -->
          <div id='views'>
    	       <a class='view' data-view='overview' href='#'>Overview</a>
    	<!--
            <a class='view' data-view='primary_energy_chart' href='#'>Overview</a>
            <a class='view' data-view='electricity' href='#'>Buildings</a>
            <a class='view' data-view='energy_security' href='#'>Transport</a>
            <a class='view' data-view='sankey' href='#'>Industry</a>
            <a class='view' data-view='map' href='#'>Conversions & GHG</a>
            <a class='view' data-view='story' href='#'>Electricity</a>
            <a class='view' data-view='air_quality' href='#'>Land use & Biofuels</a>
            <a class='view' data-view='share' href='#'>Flows, Map & Imports</a>
    	-->
            <a class='view' data-view='buildings' href='#'>Buildings</a>
            <a class='view' data-view='transport' href='#'>Transport</a>
            <a class='view' data-view='industry' href='#'>Industry</a>
            <a class='view' data-view='conversions_and_ghg' href='#'>Gases, CCS & GHG Removal</a>
            <a class='view' data-view='story' href='#'>Electricity Supply</a>
            <a class='view' data-view='land_use' href='#'>Land Use & Bioenergy</a>
            <a class='view' data-view='flows_map_imports' href='#'>Imports, Map & Flows</a>


            <!-- Change this to link to your own country website documentation
            <a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Docs</a>
    	-->
          </div>
        </div>



    <!--Dropdown navigation menu in top-right corner -->
      <div id="topbar_dd" class="dropdown">
           <img id="w4" class="svg warning" src="/assets/warning_icons/bars.svg"/>
      <div class="dropdown-content">
        <div id="dd1"><a class='view' data-view='overview' href='#'>Overview</a></div>
        <div id="dd2"><a class='view' data-view='buildings' href='#'>Buildings</a></div>
        <div id="dd3"><a class='view' data-view='transport' href='#'>Transport</a></div>
        <div id="dd4"><a class='view' data-view='industry' href='#'>Industry</a></div>
        <div id="dd5"><a class='view' data-view='conversions_and_ghg' href='#'>Gases, CCS & GHG Removal</a></div>
        <div id="dd6"><a class='view' data-view='story' href='#'>Electricity Supply</a></div>
        <div id="dd7"><a class='view' data-view='land_use' href='#'>Land Use & Bioenergy</a></div>
        <div id="dd8"><a class='view' data-view='flows_map_imports' href='#'>Imports, Map & Flows</a></div>
      </div>
    </div>

    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculating</span>
    </div>
    <!-- / The charts will be drawn in this block -->
    <div id='results'></div>
    <!-- / bof navpanel -->
    <div id='gauge'>

    <div class="additional_text">
      CO2e<br>Reduction<br>in 2050
    </div>

    <div id="slider-vertical"></div>

    <div id="gauge_year_text" class="date-choice-mode-2100-wrapper additional_text">
      Your pathway<br>will reach<br>zero carbon<br>around 2060
    </div>


    <div class="warnings">
         <div id="w4_div" data-original-title="...">
           <img id="w4" class="svg warning" src="/assets/warning_icons/four.svg"/><br>
         </div>
         <div id="wR_div" data-original-title="...">
           <img id="wR" class="svg warning" src="/assets/warning_icons/rocket.svg"/><br>
         </div>
         <div id="wL_div" data-original-title="...">
           <img id="wL" class="svg warning" src="/assets/warning_icons/leaf.svg"/><br>
         </div>
         <div id="wE_div" data-original-title="...">
           <img id="wE" class="svg warning" src="/assets/warning_icons/map_coarse.svg"/><br>
         </div>
         <div id="wP_div" data-original-title="...">
           <img id="wP" class="svg warning" src="/assets/warning_icons/chart-pie.svg"/><br>
         </div>
       </div>

     <script>
     /*
      * Replace all SVG images with inline SVG
      https://stackoverflow.com/questions/11978995/how-to-change-color-of-svg-image-using-css-jquery-svg-image-replacement
      */
      $(document).ready(function(){
          $('#w4_div').tooltip();
          $('#wR_div').tooltip();
          $('#wL_div').tooltip();
          $('#wE_div').tooltip();
          $('#wP_div').tooltip();
      });


   jQuery('img.svg').each(function(){
       var $img = jQuery(this);
       var imgID = $img.attr('id');
       var imgClass = $img.attr('class');
       var imgURL = $img.attr('src');

       jQuery.get(imgURL, function(data) {
           // Get the SVG tag, ignore the rest
           var $svg = jQuery(data).find('svg');

           // Add replaced image's ID to the new SVG
           if(typeof imgID !== 'undefined') {
               $svg = $svg.attr('id', imgID);
           }
           // Add replaced image's classes to the new SVG
           if(typeof imgClass !== 'undefined') {
               $svg = $svg.attr('class', imgClass+' replaced-svg');
           }

           // Remove any invalid XML tags as per http://validator.w3.org
           $svg = $svg.removeAttr('xmlns:a');

           // Replace image with new SVG
           $img.replaceWith($svg);

       }, 'xml');

   });

  </script>

  <style>
  .warning {
  width: 25px
  }
  .warning path {
      fill: #b2c1d1;
  }
  /*.warning:hover path {
      fill: red;
  }*/
  </style>

    <script>
      var verticalSlider = document.getElementById('slider-vertical');
      var pipFormats = {'0':'1990', '-80':'-80%', '-100':'-100%'};

     noUiSlider.create(verticalSlider, {
       connect: [false, true],
       tooltips: [wNumb({
           decimals: 0,
           suffix: '%'
         })
       ],
//       pips: {
//     		mode: 'values',
//         values: [0,-80,-100],
//     		density: 10,
//         format: wNumb({
//     			decimals: 0,
//     			suffix: '%'
//     		})
//     	},
      pips: {
        mode: 'values',
        values: [0,-80,-100],
        density: 10,
		      format: {
			         to: function(a){
				             return pipFormats[a];
				               }
			            }
		  },
     	start: 0,
       direction: 'rtl',
     	orientation: 'vertical',
     	range: {
     		'min': -100,
     		'max': 0
     	},
       cssPrefix: 'noUi-', // defaults to 'noUi-',
   		cssClasses: {
   			// Full list of classnames to override.
   			// Does NOT extend the default classes.
   			// Have a look at the source for the full, current list:
   			// https://github.com/leongersen/noUiSlider/blob/master/src/js/options.js#L398
   				target: 'target',
   				//base: 'Gbase',
          base: 'Gbase-myV',
   				origin: 'origin',
   				handle: 'Ghandle',
   				handleLower: 'handle-lower',
   				handleUpper: 'handle-upper',
   				horizontal: 'horizontal',
   				vertical: 'vertical',
   				background: 'background',
   				connect: 'Gconnect',
   				//connects: 'connects',
          connects: 'connects-myV',
   				ltr: 'ltr',
   				rtl: 'rtl',
   				draggable: 'draggable',
   				drag: 'state-drag',
   				tap: 'state-tap',
   				active: 'active',
   				tooltip: 'Gtooltip',
   				pips: 'pips',
   				pipsHorizontal: 'pips-horizontal',
   				pipsVertical: 'pips-vertical',
   				marker: 'marker',
   				markerHorizontal: 'marker-horizontal',
   				markerVertical: 'marker-vertical',
   				markerNormal: 'marker-normal',
   				markerLarge: 'marker-large',
   				markerSub: 'marker-sub',
   				value: 'value',
   				valueHorizontal: 'value-horizontal',
   				valueVertical: 'value-vertical',
   				valueNormal: 'value-normal',
   				valueLarge: 'value-large',
   				valueSub: 'value-sub'
   		}
     });
     verticalSlider.setAttribute('disabled', true);
      </script>
    </div>


          <div id='topbar_nav' class="topbar" style="position: fixed;top:0; left:0;width:100%;z-index:100;">
            <div id='name'>
              <!-- Change this to link to your country website -->
              <a href=''>The UK 2050 Calculator</a>
            </div>
          </div>

    <div id='lever_nav_panel' style="margin-top:35px;">

      <div id='examples' class='dropdown'>
        <a class='buttonMode' style="width:200px;" data-dropdown='#savedpathway_choices' href='#'>Example Pathways</a>
        <div class='dropdown-content' id='savedpathway_choices'>
             <!-- These are taken from the underlying spreadsheet
             <% structure.example_pathways.each do |pathway| %>
               <a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a>
             <% end %>
       -->
             <!-- Change this to point to your local website -->
             <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/122'>More&hellip;</a>
        </div>
      </div>

      <input id="modeSwitchID" type="button" class="buttonMode" value="switch to 2100 mode" onclick="timeMode()"
          style="position: absolute; top: 10px; left:290px;">

    <!-- / These are the controls -->
    <div id='classic_controls' style="margin-top: 40px;">

<div class="additional_text" style="white-space: nowrap;left: 206px;position: absolute;top: 40px;"> level of ambition</div>

      <table class="fixed">
<!--        <tr class='menuWidth'>
      <td class='name'></td>
      <td class='gap'></td>
      <td colspan=4 class="additional_text" style="white-space: nowrap;">

          level of ambition

      </td>
      <td class='date-choice-mode-2100-wrapper' style="padding-left:38px;"></td>
      </tr>
    -->
      	  	  <tr class='menuWidth'>
      	    <td class='name'></td>
      	    <td class='gap'></td>
      	    <td class='menuLevelWidth additional_text under'>1</td>
      	    <td class='menuLevelWidth additional_text under'>2</td>
      	    <td class='menuLevelWidth additional_text under'>3</td>
      	    <td class='menuLevelWidth additional_text under'>4</td>
      	    <td class='date-choice-mode-2100-wrapper additional_text' style="padding-left:10px;">start and end year<br>2020 2050 2100</td>
      	  </tr>
      </table>

      <div id='accordion'>


<!-- transport header table -->

<div class= "accordion-toggle">

<table class="fixed">

	  	  <tr class='menuWidth' style="height:0;">
	    <td class='name' style="height:0;"></td>
	    <td class='gap'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
	  </tr>

<tr>
<td style="margin:0;background-color:#7f99b2;padding:4px">
      <h5>Transport</h5>
</td>
<td class='gap'></td>
<td colspan=4>

     <div class="rotate"><div id="transportdb" class="transportdb">⌚</div></div>

</td>

	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
		<div id='transport-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
			<div class="dates-column">
				<div class="dates-column-left"></div>
				<div class="dates-column-right"></div>
				<div class="dates-column-center"></div>
			</div>
		</div>
	    </td>

</tr></table>

</div>

<!-- End of transport header table -->

      <div id='transport' class="accordion-content default" style="display: none">
        <table class="fixed">

		<tr class='menuWidth'>
		    <td class='name'></td>
		    <td class='gap'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td style="width:150px;text-align: center;"></td>
	  	</tr>


          <% structure.choices[0..11].each do |choice| %>


            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>' >
              <td class='name lever-grey'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
<td class='gap'></td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='transport'>
                    <%= level %>
                </a>
              </td>
		<% if i == 3 %>
	      <td class='date-choice-mode-2100-wrapper'>
		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


<div class="dates-column">
<div class="dates-column-left">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
		  </div>
		</div>
</div>
<div class="dates-column-right">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates ed">2050</button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
		  </div>
		</div>
		</div>
</div>
<div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
</div>

<script>
var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, 2050],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
slider<%= choice.number %>.setAttribute('disabled', true); //https://refreshless.com/nouislider/more/#section-styling
</script>

</div> <!-- dates column-->
</div>
 	      </td>

		  <% end %>
		  <% end %>
            </tr>
          <% end %>
        </table>
      </div>


      <script>
      /*
      // Set defualt start and end Dates manually
      sliderSlider1.noUiSlider.set(2030,2060);
      var targetDiv = document.getElementById("cd1").getElementsByClassName("dropbtn-dates ed")[0];
      targetDiv.textContent = "2060";
      var targetDiv = document.getElementById("cd1").getElementsByClassName("dropbtn-dates sd")[0];
      targetDiv.textContent = "2030";
      */
      </script>

      <!-- building header table -->

      <div class= "accordion-toggle">

        <table class="fixed">

        	  	  <tr class='menuWidth' style="height:0;">
        	    <td class='name' style="height:0;"></td>
        	    <td class='gap'></td>
        	    <td class='menuLevelWidth'></td>
        	    <td class='menuLevelWidth'></td>
        	    <td class='menuLevelWidth'></td>
        	    <td class='menuLevelWidth'></td>
        	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
        	  </tr>

      <tr>
      <td style="margin:0;background-color:#7f99b2;padding:4px">

            <h5>Buildings</h5>
      </td>
      <td class='gap'></td>
      <td colspan=4>

           <div class="rotate"><div id="buildingsdb" class="buildingsdb">⌚</div></div>

      </td>

      	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
      <div id='buildings-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
      <div class="dates-column">
      <div class="dates-column-left"></div>
      <div class="dates-column-right"></div>
      <div class="dates-column-center"></div>
      </div>
      </div>
      	    </td>

      </tr></table>

      </div>
           <div id='buildings' class="accordion-content default" style="display: none">

      	<table class="fixed">
      		<tr class='menuWidth'>
      		    <td class='name'></td>
      		    <td class='gap'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td style="width:150px;text-align: center;"></td>
      	  	</tr>


                <!-- One row per choice -->
                <% structure.choices[12..19].each do |choice| %>
                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name lever-grey'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' -data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                          <%= choice.name %>
                        </a>
                    </td>
      		    <td class='gap'>
      	    </td>
                    <!-- One cell per level for that choice -->
                    <% choice.levels.each.with_index do |level,i| %>
                      <td class='choice'>
                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='buildings'>
                          <%= level %>
                      </a>
                    </td>

      		<% if i == 3 %>
      	      <td class='date-choice-mode-2100-wrapper' style="width:150px;">
      		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


      <div class="dates-column">
      <div class="dates-column-left">
      		<div class="dropdown-dates">
       		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
      		  <div class="dropdown-content-dates">
      			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
      		  </div>
      		</div>
      </div>
      <div class="dates-column-right">
      		<div class="dropdown-dates">
       		<button class="dropbtn-dates ed"><%= choice.denddate %></button>
      		  <div class="dropdown-content-dates">
      			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
      		  </div>
      		</div>
      		</div>
      </div>
      <div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
      </div>

      <script>
      var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
      noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, <%= choice.denddate %>],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
      slider<%= choice.number %>.setAttribute('disabled', true);
      </script>

      </div> <!-- dates column-->
      </div>
       	      </td>

      		  <% end %>
      		  <% end %>
                  </tr>
                  <% end %>
      	</table>

            </div>

      <!-- end of building -->


      <!-- industry header table -->

      <div class= "accordion-toggle">

      <table class="fixed">

      	  	  <tr class='menuWidth' style="height:0;">
      	    <td class='name' style="height:0;"></td>
      	    <td class='gap'></td>
      	    <td class='menuLevelWidth'></td>
      	    <td class='menuLevelWidth'></td>
      	    <td class='menuLevelWidth'></td>
      	    <td class='menuLevelWidth'></td>
      	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
      	  </tr>

      <tr>
      <td style="margin:0;background-color:#7f99b2;padding:4px">
            <h5>Industry</h5>
      </td>
      <td class='gap'></td>
      <td colspan=4>

           <div class="rotate"><div id="industryLeverdb" class="industryLeverdb">⌚</div></div>

      </td>

      	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
      		<div id='industry-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
      			<div class="dates-column">
      				<div class="dates-column-left"></div>
      				<div class="dates-column-right"></div>
      				<div class="dates-column-center"></div>
      			</div>
      		</div>
      	    </td>

      </tr></table>

      </div>

      <!-- End of industry header table -->

            <div id='industryLever' class="accordion-content default" style="display: none">
              <table class="fixed">

      		<tr class='menuWidth'>
      		    <td class='name'></td>
      		    <td class='gap'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td class='menuLevelWidth'></td>
      		    <td style="width:150px;text-align: center;"></td>
      	  	</tr>


                <% structure.choices[20..24].each do |choice| %>


                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>' >
                    <td class='name lever-lightgrey'>
                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                        <%= choice.name %>
                      </a>
                    </td>
      <td class='gap'></td>
                    <!-- One cell per level for that choice -->
                    <% choice.levels.each.with_index do |level,i| %>
                      <td class='choice'>
                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='industryLever'>
                          <%= level %>
                      </a>
                    </td>
      		<% if i == 3 %>
      	      <td class='date-choice-mode-2100-wrapper'>
      		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


      <div class="dates-column">
      <div class="dates-column-left">
      		<div class="dropdown-dates">
       		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
      		  <div class="dropdown-content-dates">
      			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
      		  </div>
      		</div>
      </div>
      <div class="dates-column-right">
      		<div class="dropdown-dates">
       		<button class="dropbtn-dates ed"><%= choice.denddate %></button>
      		  <div class="dropdown-content-dates">
      			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
      			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
      		  </div>
      		</div>
      		</div>
      </div>
      <div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
      </div>

      <script>
      var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
      noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, <%= choice.denddate %>],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
      slider<%= choice.number %>.setAttribute('disabled', true); //https://refreshless.com/nouislider/more/#section-styling
      </script>

      </div> <!-- dates column-->
      </div>
       	      </td>

      		  <% end %>
      		  <% end %>
                  </tr>
                <% end %>
              </table>
            </div>

<!-- End of industry -->



<!-- energy header table -->

<div class= "accordion-toggle">

<table class="fixed">

	  	  <tr class='menuWidth' style="height:0;">
	    <td class='name' style="height:0;"></td>
	    <td class='gap'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
	  </tr>

<tr>
<td style="margin:0;background-color:#7f99b2;padding:4px">
      <!-- The left column  &<br>GHG reduction-->
      <!--<h5 style="font-family: Arial Narrow;">Energy conversion & GHG reduction</h5>-->
      <h5>Energy conversions & <br>greenhouse gas reduction</h5>
</td>
<td class='gap'></td>
<td colspan=4>

     <div class="rotate"><div id="energydb" class="energydb">⌚</div></div>

</td>

	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
		<div id='energy-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
			<div class="dates-column">
				<div class="dates-column-left"></div>
				<div class="dates-column-right"></div>
				<div class="dates-column-center"></div>
			</div>
		</div>
	    </td>

</tr></table>

</div>

<!-- End of energy header table -->

      <div id='energy' class="accordion-content default" style="display: none">
        <table class="fixed">

		<tr class='menuWidth'>
		    <td class='name'></td>
		    <td class='gap'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td style="width:150px;text-align: center;"></td>
	  	</tr>


          <% structure.choices[25..32].each do |choice| %>


            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>' >
              <td class='name lever-grey'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
<td class='gap'></td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='energy'>
                    <%= level %>
                </a>
              </td>
		<% if i == 3 %>
	      <td class='date-choice-mode-2100-wrapper'>
		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


<div class="dates-column">
<div class="dates-column-left">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
		  </div>
		</div>
</div>
<div class="dates-column-right">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates ed"><%= choice.denddate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
		  </div>
		</div>
		</div>
</div>
<div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
</div>

<script>
var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, <%= choice.denddate %>],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
slider<%= choice.number %>.setAttribute('disabled', true); //https://refreshless.com/nouislider/more/#section-styling
</script>

</div> <!-- dates column-->
</div>
 	      </td>

		  <% end %>
		  <% end %>
            </tr>
          <% end %>
        </table>
      </div>

<!-- End of energy -->

<!-- Define subgroups and change class to lever-lightgrey-->
<script>
var rLGs = [0,1,6,7,8,9,12,13,14,15,16,19,25,26,30,31,32,33,34,41,42,43,];
//var rLGs = [0,1,2,3];
for (let i of rLGs) {
  $('#r'+i+' td').removeClass("lever-grey").addClass('meinTest');
  $('#r'+i+' td:first').addClass('lever-lightgrey');
  //$('#r'+i+' td:first').removeClass("lever-grey").addClass('lever-lightgrey');
}
</script>



<!-- electricity header table -->

<div class= "accordion-toggle">

<table class="fixed">

	  	  <tr class='menuWidth' style="height:0;">
	    <td class='name' style="height:0;"></td>
	    <td class='gap'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
	  </tr>

<tr>
<td style="margin:0;background-color:#7f99b2;padding:4px">
      <h5>Electricity supply</h5>
</td>
<td class='gap'></td>
<td colspan=4>

     <div class="rotate"><div id="electricitydb" class="electricitydb">⌚</div></div>

</td>

	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
		<div id='electricity-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
			<div class="dates-column">
				<div class="dates-column-left"></div>
				<div class="dates-column-right"></div>
				<div class="dates-column-center"></div>
			</div>
		</div>
	    </td>

</tr></table>

</div>

<!-- End of electricity header table -->

      <div id='electricity' class="accordion-content default" style="display: none">
        <table class="fixed">

		<tr class='menuWidth'>
		    <td class='name'></td>
		    <td class='gap'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td style="width:150px;text-align: center;"></td>
	  	</tr>


          <% structure.choices[33..40].each do |choice| %>


            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>' >
              <td class='name lever-grey'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
<td class='gap'></td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='electricity'>
                    <%= level %>
                </a>
              </td>
		<% if i == 3 %>
	      <td class='date-choice-mode-2100-wrapper'>
		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


<div class="dates-column">
<div class="dates-column-left">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
		  </div>
		</div>
</div>
<div class="dates-column-right">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates ed"><%= choice.denddate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
		  </div>
		</div>
		</div>
</div>
<div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
</div>

<script>
var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, <%= choice.denddate %>],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
slider<%= choice.number %>.setAttribute('disabled', true); //https://refreshless.com/nouislider/more/#section-styling
</script>

</div> <!-- dates column-->
</div>
 	      </td>

		  <% end %>
		  <% end %>
            </tr>
          <% end %>
        </table>
      </div>

<!-- End of electricity -->



<!-- land header table -->

<div class= "accordion-toggle">

<table class="fixed">

	  	  <tr class='menuWidth' style="height:0;">
	    <td class='name' style="height:0;"></td>
	    <td class='gap'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='menuLevelWidth'></td>
	    <td class='date-choice-mode-2100-wrapper' style="height:0;font-size:x-small;color:#ccd6e0;padding-left:44px;"></td>
	  </tr>

<tr>
<td style="margin:0;background-color:#7f99b2;padding:4px">
      <h5>Land use & biofuels</h5>
</td>
<td class='gap'></td>
<td colspan=4>

     <div class="rotate"><div id="landdb" class="landdb">⌚</div></div>

</td>

	    <td class='date-choice-mode-2100-wrapper' style="height:47px;text-align: center;">
		<div id='land-header' class="date-choice-mode-2100-default" style="width:150px;height:100%;">
			<div class="dates-column">
				<div class="dates-column-left"></div>
				<div class="dates-column-right"></div>
				<div class="dates-column-center"></div>
			</div>
		</div>
	    </td>

</tr></table>

</div>

<!-- End of land header table -->

      <div id='land' class="accordion-content default" style="display: none">
        <table class="fixed">

		<tr class='menuWidth'>
		    <td class='name'></td>
		    <td class='gap'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td class='menuLevelWidth'></td>
		    <td style="width:150px;text-align: center;"></td>
	  	</tr>


          <% structure.choices[41..44].each do |choice| %>


            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>' >
              <td class='name lever-grey'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
<td class='gap'></td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' data-group='land'>
                    <%= level %>
                </a>
              </td>
		<% if i == 3 %>
	      <td class='date-choice-mode-2100-wrapper'>
		<div id='cd<%= choice.number %>' class="date-choice-mode-2100-default" style="width:150px;">


<div class="dates-column">
<div class="dates-column-left">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates sd"><%= choice.dstartdate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2020' data-choicenumber='<%= choice.number %>'>2020</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2025' data-choicenumber='<%= choice.number %>'>2025</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
		  </div>
		</div>
</div>
<div class="dates-column-right">
		<div class="dropdown-dates">
 		<button class="dropbtn-dates ed"><%= choice.denddate %></button>
		  <div class="dropdown-content-dates">
			<a href="#" class='dateChoiceLink' data-datechoice='2030' data-choicenumber='<%= choice.number %>'>2030</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2035' data-choicenumber='<%= choice.number %>'>2035</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2040' data-choicenumber='<%= choice.number %>'>2040</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2045' data-choicenumber='<%= choice.number %>'>2045</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2050' data-choicenumber='<%= choice.number %>'>2050</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2055' data-choicenumber='<%= choice.number %>'>2055</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2060' data-choicenumber='<%= choice.number %>'>2060</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2065' data-choicenumber='<%= choice.number %>'>2065</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2070' data-choicenumber='<%= choice.number %>'>2070</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2075' data-choicenumber='<%= choice.number %>'>2075</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2080' data-choicenumber='<%= choice.number %>'>2080</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2085' data-choicenumber='<%= choice.number %>'>2085</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2090' data-choicenumber='<%= choice.number %>'>2090</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2095' data-choicenumber='<%= choice.number %>'>2095</a>
			<a href="#" class='dateChoiceLink' data-datechoice='2100' data-choicenumber='<%= choice.number %>'>2100</a>
		  </div>
		</div>
		</div>
</div>
<div class="dates-column-center">&nbsp<div id="slider<%= choice.number %>"></div>
</div>

<script>
var sliderSlider<%= choice.number %> = document.getElementById('slider<%= choice.number %>');
noUiSlider.create(sliderSlider<%= choice.number %>, {start: [ <%= choice.dstartdate %>, <%= choice.denddate %>],step: 5,connect: true,range: {'min':  2020,'max':  2100}});
slider<%= choice.number %>.setAttribute('disabled', true); //https://refreshless.com/nouislider/more/#section-styling
</script>

</div> <!-- dates column-->
</div>
 	      </td>

		  <% end %>
		  <% end %>
            </tr>
          <% end %>
        </table>
      </div>

<!-- End of land -->





      <input id="bookmarkID" type="button" class="buttonMode" value="bookmark this pathway" onclick="bookmark()"
       style="float:left; width:200px;margin-left:0;text-align: left; padding-left: 4px;">

<!-- cross browser bookmark doesn't work
<script type="text/javascript">
    $(function() {
        $("#bookmarkme").click(function() {
            // Mozilla Firefox Bookmark
            if ('sidebar' in window && 'addPanel' in window.sidebar) {
                window.sidebar.addPanel(location.href,document.title,"");
            } else if( /*@cc_on!@*/false) { // IE Favorite
                window.external.AddFavorite(location.href,document.title);
            } else { // webkit - safari/chrome
                alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
            }
        });
    });
</script>

<a id="bookmarkme" href="#" rel="sidebar" title="bookmark this page">Bookmark This Page</a>
-->

      <!-- The Legend column -->

      <h6 class= "accordion-toggle" style="float:left;left:10px;margin-top:50px; margin-left:-200px; margin-right:200px;">Key</h6>

              <!-- <h5>Notes</h5> -->
        <table class="fixed" id='notes' style="font-size:x-small;text-align:justify;width:400px;border-spacing: 10px 2px;background-color:#ccd6e0;">
<!-- Remove Question mark
          <tr><td id='firstcell'><div class='help'>?</div></td><td>Question marks take you to one page descriptions of each choice</td></tr>
-->
<!-- Long descriptions
          <tr><td><div class='level1'>1</div></td><td>The least effort possible on this choice.</td></tr>
          <tr><td><div class='level2'>2</div></td><td>Viewed as ambitious, but reasonable by most experts.</td></tr>
          <tr><td><div class='level3'>3</div></td><td>Viewed as unlikely without significant change from the current system and/or significant technological breakthroughs</td></tr>
          <tr><td><div class='level4'>4</div></td><td>The upper end of what is thought to be physically plausible by the most optimistic observer.</td></tr>
-->
<tr><td><div class='level1'>1</div></td><td>The least effort possible</td></tr>
<tr><td><div class='level2'>2</div></td><td>Ambitious but reasonable</td></tr>
<tr><td><div class='level3'>3</div></td><td>Very ambitious needing technical breakthroughs</td></tr>
<tr><td><div class='level4'>4</div></td><td>The upper limit of what is considered plausible</td></tr>
<!--          <tr><td><div class='alternate'>A</div>&ndash;<div class='alternate'>D</div></td><td>A range of options where one alternative is not neccesiarily harder than another</td></tr>-->
          <tr class='primary_energy_notes'><td>Total used in the UK<sup>1</sup></td><td>Primary energy supply is normally higher than final energy demand, because of the energy used to generate electricity.</td></tr>
          <tr class='primary_energy_notes'><td>Targets<sup>2</sup></td><td>The targets up to 2027 exclude international aviation and shipping. They are also calculated as five year 'budgets', rather than the single year targets shown here.</td></tr>
          <tr class='primary_energy_notes'><td>Total<sup>3</sup></td><td>The total includes the reduction in emissions from carbon capture and storage and from growing new biomass to replace that used (the bioenergy credit).</td></tr>
      </table>
      </div>
      <!-- /accordion -->
      </div>

<!-- Switch for 2100 mode -->

<!--
<script>

var toggleSlider = document.getElementById('slider-toggle');

noUiSlider.create(toggleSlider, {
	orientation: "horizontal",
	start: 0,
	step: 1,
	range: {'min': [0, 1],'max': 1},
	format: wNumb({	decimals: 0})
})

/* FIXME: reset of start and end date for final model */
var wasVisible = 0; // Helper variable indicating that time mode wasn't active yet
toggleSlider.noUiSlider.on('update', function( values, handle ){
  if ( values[handle] === '1' ) {
		toggleSlider.classList.add('off');
		var change = 'visible';
    wasVisible = 1; // time mode is active
	} else {
		toggleSlider.classList.remove('off');
		var change = 'hidden';
    if (wasVisible == 1) {
    location.reload(); // reset time mode
    }
	}
	var good = document.getElementsByClassName('date-choice-mode-2100-wrapper');
	for (var i = 0; i < good.length; i++) {
		good[i].style.visibility = change;
    if (change=="visible") {
      good[i].classList.add("TimeModeVisible");
    } else {
      good[i].classList.remove("TimeModeVisible");
    }
	}
  console.log(good[0].classList);
});
</script>
<div style="margin-left:25px;">2100 mode<br><div id="slider-toggle" style="margin: 5px; height:10px; width:25px; background:LightGrey;top:-2px;"></div></div>

-->


<!-- End of Switch for 2100 mode -->

      </div>
    <!-- / eof navpanel -->
    </div>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div id='footer' style="width:80%">
      <!-- Change this to link to your country's website -->
      All the assumptions and calculations are available in a spreadsheet. Download <a href='/model.xlsx'>Excel <%= structure.reported_calculator_version %> <%= %></a> (<a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>Version history</a>). The source code for this site is available under an open source licence from <a href='http://github.com/decc/twenty-fifty'>http://github.com/decc/twenty-fifty</a>
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that:
          <ol>
            <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
            <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
            <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
            <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
            <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
            <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
          </ol>
          <div id='understand'>
            <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
          </div>
        </div>
        <div id='air_quality_results'>
          <div class='airquality'>
            <h1>The impact of your pathway on air quality</h1>
            <div class='airqualitymessage' id='airqualitymessage'>
              The damage to human health arising from air pollution from this pathway, principally particulate matter, could be around <span id='airquality_range_start'></span><span id='airquality_range_end'></span> in 2050 compared to 2010. <span id='air_quality_worse'> Given the scope for adverse implications for air quality, if the UK were to adopt this pathway the Government  would develop a policy framweork that supported the innovation required to be at the bottom end of the range</span>
          </div>
            <div id='airquality'></div>
            <div class='airqualitymessage'>
              <h2>How to interpret these results:</h2>
              <ul>
                <li>Air pollution health impact index &mdash; this index measures the effect on human health from fine particulate matter and other air pollutants such as nitrogen oxides.  For example, these pollutants have been linked to premature death caused by heart and lung disease. 2010 is the baseline year (100). A number lower than 100 indicates a reduction in average air pollution and associated health impacts, whilst a higher number indicates an increase. This index reflects changes in the average concentration of air pollutants across the UK.  It does not provide information on the number or severity of pollution hotspots.</li>
                <li>High end of hatched range &mdash; worst case scenario for air pollution whereby there is no further deployment or innovation in pollution abatement technology between now and 2050 beyond planned measures.</li>
                <li>Low end of hatched range &mdash; best case scenario whereby innovation radically improves pollution abatement technology between now and 2050 and it is fully deployed.</li>
              </ul>
              <p>
              We would welcome your feedback on the
              <a href="http://2050-calculator-tool-wiki.decc.gov.uk/pages/80">methodology</a> used to calculate the impact of your pathway on air quality.
              You can also download the excel version of the 2050 pathways calcualtor to see the different types of air pollution and the relative importance of different sources.
              </p>
            </div>
          </div>
        </div>
        <div id="energysecurity">
          <div id="balancing" class="column">
            <h2>Balancing electricity supply and demand</h2>
            <p id='autobuild_text'><span id='pathway_balancing_ccgt'></span> GW of conventional gas electricity generation plant has been assumed to have been built by 2050, to cover the gap between average electricity demand and the amount of low carbon generation selected in this pathway.</p>
            <p>This tool does not model the hourly, daily or even seasonal operation of the electricity grid. It presents annual averages. Therefore it does not correctly represent the peaks and troughs of electricity demand.</p>
            <p>To go some way to addressing this flaw, the tool applies a simulated stress test to your pathway of five cold, almost windless, days. This is described in more detail <a href="/assets/onepage/49.pdf" target="_new">here</a>. In this case, the stress test implies that <span id='pathway_balancing_peaking'></span> GW of additional peaking plant may be required for supply to meet demand over that period.</p>
            <p>You can influence the amount of peaking plant by changing your choice level of 'storage, demand shifting &amp; interconnection' below right,or by reducing the amount of intermittent renewable generation, or by reducing the demand for electricity</p>
          </div>
          <div id="imports" class="column">
            <h2>Dependence on imported energy</h2>
            <p>The calculator assumes that any available biomass is preferred over fossil fuels and that domestically produced fuels are preferred over imports.It assumes that fossil fuels are imported to cover any shortfall.</p>
            <table id="imports">
              <tr><th class="description"></th><th colspan="2" class="year">2007</th><th></th><th colspan="2" class="year">2050</th></tr>
              <tr><th class="description">Imports</th><th class="value">TWh/yr</th><th class="value">%</th><th></th><th class="value">TWh/yr</th><th class="value">%</th></tr>
            </table>
          </div>
          <div id="diversity" class="column">
            <h2>Diversity of energy sources</h2>
            <p>There may be a benefit from maintaining a diversity of energy sources:</p>
            <table id="diversity">
              <tbody>
              <tr><th class="description">Proportion of energy supply</th><th class="year">2007</th><th></th><th class="year">2050</th></tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>

</div>

<!-- bof Modal -->
<div id="settingsModal" class="modal fade" role="dialog" style=>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- eof Modal -->


  </body>
</html>
